<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title>Search</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
}
</style>
</head>
<body>
<title>Search</title>
<div class="content">
  <h1>.Error 404.</h1>
  <h4>The requested URL was not found</h4>
  <a href = "/"><h9>.Go Back.</h9></a>
  
  
  
</div>

</body>
</html>
