<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title>Search</title>
  <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
}
</style>
</head>
<body>
<title>Search</title>
<div class="content">
  <h1>{{ message }}</h1>
  
  <h3>Death Range: {{ deaths }}</h3>
  <h3>Date: {{ daDate }}</h3>
  <h3>Combatants: {{ ppl }}</h3>
  <h3>Location: {{ loc }}</h3>
  <h3>{{ nts }}</h3>
  
  <a href = "/"><h9>.Go Back.</h9></a>
  

  
</div>

</body>
</html>
